*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem;
    background-color: rgb(91, 255, 200);
    height: 80px;
    
    /* max-height: 1000px;     */
}

p{
    padding: 4px;
}

.logo {
    margin-left: -20px;
    width: 100px;
    height: 70px;
    /* max-width: 2.5rem; */
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
   
}

.nav-links li a{
    text-decoration: none;
    color: black;
    border-radius: 30px;
   
}

/* .nav-links li a:hover :before {
    background-color: rgb(255, 255, 255);
    transform: scaleX(2);
    transition: background-color 0.3s ease;
    transition: all .5s ease;
   }

.nav-links li a:hover :after {
    background-color: rgb(255, 255, 255);
    transform: scaleX(2);
    transition: background-color 0.3s ease;
    transition: all .5s ease;
   } */

.abrir-menu,
.cerrar-menu{
    display: none;
    background-color: transparent;/*prueba*/   
}

.construccion{
    height: 600px;
}

@media screen and (max-width: 600px) {

       .abrir-menu,
       .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: black;
        background-color: transparent;/*prueba*/
    }
   
    .cerrar-menu {
        color: black;
        background-color: transparent;/*prueba*/
    }
        

    .navbar {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(91, 255, 200);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
       
        }

    .navbar.visible{
            opacity: 1;
            visibility: visible;
        }

    .nav-links {
        flex-direction: column;
        align-items: end;
    }
    
    .nav-links li a {
     color: rgb(0, 0, 0);
    }
   
    .nav-links li a:hover::after {
        color: rgb(255, 255, 255);
        transform: scaleX(2);
       }

}