*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: aquamarine;
    height: 80px;
    /*max-height: 1000px;*/    
}

.logo {
    width: 100px;
    height: 50px;
    /*max-width: 2.5rem;*/
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.abrir-menu,
.cerrar-menu{
    display: none;
    background-color: transparent;/*prueba*/   
}

@media screen and (max-width: 600px) {

       .abrir-menu,
       .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: black;
        background-color: transparent;/*prueba*/
    }
   
    .cerrar-menu {
        color: white;
        background-color: transparent;/*prueba*/
    }
        

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(91, 255, 200);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
       
        }

    .nav.visible{
            opacity: 1;
            visibility: visible;
        }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    
    .nav-list li a {
     color: rgb(0, 0, 0);
    }
}